@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    background-color: rgb(104, 172, 104);
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.link_whatsapp{
    background-color: black;
    font-size: 14px;
    background-size: cover;
    padding: 10px;
    text-align: center;
}

a{
    color: rgb(171, 206, 102);
    text-decoration:wavy;
}

ul{
    background-color: transparent;
    list-style-type: none;
    padding: 0px;
}

.item_menu{
    display: inline;
    padding: 20px;
    color: black;
}

nav{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: gray;
}

.logo{
    width: 150px;
    padding: 0px 0px 0px 20px;
}

.footer{
    background-color: black;
    color: rgb(171, 206, 102);
}

.TituloSecudario{   
    text-transform: uppercase;
}

.padreFooter{
    display: flex;
    justify-content: space-around;
}

.padre{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /*grid-template-rows: 3;*/
    justify-items: center;
    grid-gap: 15px;
    align-items: center;
}

.hijos{
    background-color: beige;
    width: 200px;
    height: 200px;   
}

@media(max-width: 400px){
    .padre{
        grid-template-columns: 1fr;
    }

    .padreFooter{
        flex-direction: column;
    }

    .item_menu{
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
}