@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    background-color: rgb(207, 185, 151);
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.link_whatsapp{
    background-color: rgb(97, 118, 75);
    font-size: 14px;
    padding: 10px;
    text-align: center;
}

a{
    color: rgb(171, 206, 102);
    text-decoration:none;
}

a:hover{
    color: rgb(171, 206, 102); 
}

.navbar{
    background-color: rgb(155, 161, 123);
    padding: 0px 0px; 
    position: sticky;
    top: 0;
}

.nav-link{
    color: black;
    font-weight: bolder;
}

.nav-item{
    background-color:whitesmoke;
    border-radius: 10px;   
}

.logo{
    width: 170px;
}

section{
    gap: 25px;
    padding: 0px 0px 20px 0px;
}

footer{
    background-color: rgb(97, 118, 75);
    color: rgb(171, 206, 102);
    /*position: sticky;
    bottom: 0;*/
}

#carouselExampleControls{
    padding: 0px 0px 20px 0px;
}

.card{
    padding: 0px 0px;
}

.btn{
    background-color:rgb(171, 206, 102);
    color: black;
    font-weight: bolder;
    border-radius: 10px;
}

.btn:hover{
    background-color:rgb(171, 206, 102);
}

.col-form-label{
    font-weight: bolder;
}

