@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    background-color: rgb(207, 185, 151);
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.formulario{
    gap: 10px;
    padding: 10px;
}

.link_whatsapp{
    background-color: rgb(97, 118, 75);
    font-size: 14px;
    padding: 10px;
    text-align: center;
}

a{
    color: rgb(171, 206, 102);
    text-decoration:none;
}

a:hover{
    color: rgb(171, 206, 102); 
}

.navbar{
    background-color: rgb(155, 161, 123);
    padding: 0px 0px; 
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav-link{
    color: black;
    font-weight: bolder;
}

.nav-item{
    background-color:whitesmoke;
    border-radius: 10px;   
}

.logo{
    width: 170px;
}

section{
    gap: 15px;
    padding: 0px 0px 20px 0px;
}

footer{
    background-color: rgb(97, 118, 75);
    color: rgb(171, 206, 102);
}

#carouselExampleControls{
    padding: 0px 0px 20px 0px;
}

.card{
    padding: 0px 0px;
    width: 17rem;
}

.btn-form-enviar{
    background-color:rgb(171, 206, 102);
    color: black;
    font-weight: bolder;
    border-style: none; 
}

.col-form-label{
    font-weight: bolder;
}

button{
    border: none;
    background-color: whitesmoke;
}

.subMenu{
    display: none;
    position: absolute;
    top: 30px;
}

.subMenuFooter{
    display: none;
    padding-left: 20px;
}

.mostrar{
    display: block;
}

#productosFooter{
    background-color: rgb(97, 118, 75);
    color: rgb(171, 206, 102);
    padding: 0px;
}